html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html, body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#banner {
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-image: url(dehors1280x256.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: -webkit-linear-gradient(left, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,.6) 0%,rgba(0,0,0,0) 100%);*/
}

@media (min-width: 768px) {
    #banner:before {
        /*background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);*/
    }
}

.container {
    height: 0;
    padding-top: 15.625%;
    position: relative;
    overflow: hidden;
}

#logo {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-height: 50%;
    -webkit-transition: opacity .3s ease-out 0s;
    transition: opacity .3s ease-out 0s;
}

#logo-sml {
    right: 30px;
    float: right;
    height: 100%;
    padding: 6px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .3s ease-out 0s;
    transition: opacity .3s ease-out 0s;
}

#bgImage {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    top: 70px;
    opacity: 0;
}

#copy1 {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 50%;
    max-width: 744px;
}

#copy2 {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 45%;
    opacity: 0;
    width: 50%;
    max-width: 480px;
}

#copy3 {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 45%;
    opacity: 0;
    width: 50%;
    max-width: 485px;
}

@media (min-width: 768px) {
    #copy2, #copy3 {
        left: 50%;
    }
    #logo-sml {
        opacity: 0;
    }
    #logo {
        opacity: 1;
    }
    #bgImage {
        top: 0px;
    }
}

#cta {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 1em;
    font-family: Sans-Serif, Verdana, Arial;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #205ccd;
    color: #fff;
}

#cta .material-icons {
    font-size: 16px;
    vertical-align: bottom;
    margin: 0 0 0 5px;
}

@media (max-width: 767px) {
    #cta {
        -webkit-animation: slideDown .25s;
        animation: slideDown .25s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        display: none !important;
    }
}

/*---------------KEYFRAMES------------------*/

@-webkit-keyframes slideUp {
    from {
        bottom: -50px
    }
    to {
        bottom: 17px
    }
}

@keyframes slideUp {
    from {
        bottom: -50px
    }
    to {
        bottom: 17px
    }
}
